@import "../../global.scss";

.shop {
    top: 70px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: auto;

    h1{
        text-align: center;
        padding-top: 100px;
        font-size: 50px;
        padding-bottom: 50px;
        overflow: hidden;
        @include mobile{
            padding-bottom: 10px;
            font-size: 20px;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}