@import "../../../global.scss";

.itemCard {
    height: 350px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px 10px 20px 10px;
    margin: 10px;
    box-shadow: 0px 0px 15px -8px black;

    @include mobile{
      margin: 3px;
      padding: 2px 2px 5px 2px;
      width: 11em;
      height: 14em;
      border-radius: 10px;
  }
    
  .imageContainer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    cursor: pointer;

    @include mobile{
      margin: 5px;
      padding: 0px;
      width: 10em;
      height: 10em;
      border-radius: 10px;
  }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  .description {
    * {
        overflow: hidden;
        padding: 5px;
    }
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;

    h3 {
      @include mobile{
        font-size: 1em;
    }
    }
  }
}
