$mainColor: #000000;

$widthMobile: 900px;
$widthDesktop: 1200px;
$widthUW: 2000px;

// Mixins
@mixin mobile {
  @media (max-width: #{$widthMobile}) {
    @content;
  }
}

@mixin ultrawide {
  @media (min-width: #{$widthUW}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$widthDesktop}) {
    @content;
  }
}

body {
  max-width: 100%;

  @include mobile {
    max-width: 100%;
    overflow-x: hidden;
  }
}

.button {
  background-color: $mainColor;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  @include desktop {
    font-size: 1.2rem;
  }
}

// Styles
.container {
  max-width: 70%;
  margin: 0 auto;

  @include mobile {
    max-width: 90%;
  }

  @include desktop {
    max-width: 1200px;
  }
}

section {
  padding-top: 5vh;
}

// Global h1 styling
h1 {
  font-size: 3rem;
  text-align: center;

  @include mobile {
    font-size: 2rem;
  }
}

// Contact

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    @include mobile {
      display: none;
    }
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .contact-left,
  .contact-right {
    flex: 1;
    padding: 20px;
  }

  .contact-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 50px;
      margin-bottom: 15px;
    }
    .socialMediaLogos {
      margin-top: 10px;
      flex-direction: row;
      display: flex;
      margin: 10px;
      padding: 0;
      .fa {
        padding: 10px;
        font-size: 50px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }
    }
  }
  @include mobile {
    .contact-left {
      h2 {
        text-align: center;
        font-size: 45px;
        margin-bottom: 10px;
      }

      .socialMediaLogos {
        .fa {
          font-size: 3.95vh;
          width: 4.5vh;
          padding: 5px;
        }
      }
    }
  }
}

@keyframes slideImages {
  0% {
    opacity: 1;
    transform: scale(1);
    background-image: url("https://res.cloudinary.com/drfhleop1/image/upload/v1726458595/facebooklogo_lusuor.png");
  }
  25% {
    opacity: 1;
    transform: scale(1);
    background-image: url("https://res.cloudinary.com/drfhleop1/image/upload/v1726458595/instalogo_noscfy.jpg");
  }
  50% {
    opacity: 1;
    transform: scale(1);
    background-image: url("https://res.cloudinary.com/drfhleop1/image/upload/v1726458595/twitterlogo_wccyev.png");
  }
  75% {
    opacity: 1;
    transform: scale(1);
    background-image: url("https://res.cloudinary.com/drfhleop1/image/upload/v1726458595/whatsapplogo_vnzjlp.jpg");
  }
  80% {
    opacity: 1;
    transform: scale(1);
    background-image: url("https://res.cloudinary.com/drfhleop1/image/upload/v1726458788/emaillogo2_daaccg.jpg");
  }
  100% {
    opacity: 1;
    transform: scale(1);
    background-image: url("https://res.cloudinary.com/drfhleop1/image/upload/v1726458595/facebooklogo_lusuor.png");
  }
}

.contact-right {
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  animation: slideImages 10s infinite;
  transition: background-image 1s ease-in-out, opacity 1s ease-in-out,
    transform 1s ease-in-out;

  @include mobile {
    background-size: 50%;
  }
}

// Works

.works {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .arrow {
    height: 50px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-out;

    @include mobile {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          width: 90%;
          height: 180px;
          margin: 5px 0;
        }

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black;
          color: white;
          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            h2 {
              padding-bottom: 10px;
            }

            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(245, 179, 155);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }
            h2 {
              font-size: 20px;
            }
            p {
              font-size: 13px;
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 100%;
            //transform: rotate(-10deg);
          }
        }
      }
    }
  }
}

// Portfolio

.portfolio-load-more {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.portfolio-categories {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;

  .button {
    background-color: lighten($mainColor, 35%);
    &.active {
      background-color: $mainColor;
      color: #fff;
    }

    &:hover {
      background-color: lighten($mainColor, 10%);
    }
  }
}

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  @include mobile {
    margin: 10px;
  }

  &.active {
    border-bottom: 1px solid black;
  }
}

//footer
footer {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  text-align: center;

  .footerHeaderRow {
    display: flex;
    align-items: center; // Center vertically
    justify-content: left;
    gap: 0.3rem; // Space between text and logo
    margin: 0 4%;
    margin-bottom: 2rem;
    @include mobile {
      margin: 0 20px 5vh; // Space between columns
      justify-content: left; //todo center top or to the left
    }

    h2 {
      font-size: 1.4vh;
      margin: 0;
      font-weight: bold;
    }

    .logo {
      max-width: 3.7vh; // Ensure logo is sized appropriately
      height: auto; // Maintain aspect ratio
    }
  }

  .footerContent {
    display: flex;
    justify-content: space-evenly; // Distribute columns evenly
    flex-wrap: wrap; // Allow wrapping for smaller screens
    text-align: left;
    @include mobile {
      justify-content: left;
      flex-direction: column;
    }

    p {
      font-size: 1.37vh;
      padding-bottom: 1rem;
    }
    @include mobile {
      .footerColumn:nth-child(3) {
        display: none;
      }
    }

    .footerColumn {
      flex: 0;
      min-width: 200px; // Minimum width of each column
      margin: 0 20px; // Space between columns
      .socialMedia {
        margin-top: 1vh;
      }
      .socialMedia,
      .workMedia {
        justify-content: center;
        display: flex;
        @include mobile {
          justify-content: center;
        }
      }
      .icon {
        padding: 0;
      }
      .icon a {
        background: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.75vh; // Smaller size for icons
        color: white; // Default color for icons
        transition: color 0.3s;

        &:hover {
          color: #ccc; // Change color on hover
        }
      }
      @include mobile {
      }
      h3 {
        margin-top: 1.8rem; // Space below the header
        margin-bottom: 1rem; // Space below the header
        font-size: 1.4vh; // Adjust text size
        font-weight: bolder; // Make header bold
      }

      ul {
        list-style: none; // Remove bullet points
        padding: 0; // Remove default padding

        li {
          margin-bottom: 1rem; // Space between list items
          font-size: 1.2vh; // Adjust text size

          a {
            color: white; // Default color for links
            text-decoration: none; // Remove underline

            &:hover {
              text-decoration: underline; // Underline on hover
            }
          }
        }
      }
    }
  }
}

// Intro

.intro {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  overflow: hidden;
  h1 {
    text-align: left;
  }

  @include mobile {
    flex-direction: column;
    h1 {
      text-align: center;
    }
  }

  .left {
    flex: 0.5;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    .imgContainer {
      width: 100vh;
      height: 100vh;
      background-color: black;
      //border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        margin-top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0%;
      }
      @include ultrawide {
        height: 100%;
        width: 100%;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include mobile {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }

        @include ultrawide {
          font-size: 150px;
        }
      }
      h2 {
        font-size: 35px;
        @include ultrawide {
          font-size: 60px;
        }
      }
      h3 {
        font-size: 30px;

        @include mobile {
          font-size: 20px;
        }

        @include ultrawide {
          font-size: 60px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 0.5s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      .socialMediaLogos {
        padding-top: 10px;
        flex-direction: row;
        display: flex;
        justify-content: left;
      }
      @include mobile {
        .socialMediaLogos {
          margin-top: 10px;
          margin: 10px;
          .fa {
            font-size: 3.36vh;
            display: grid;
            place-items: center; /* Centers content both vertically and horizontally */
            width: 5vh;
            height: 5vh;
            padding: 0.2rem;
          }
        }
      }
    }
    .arrow {
      a {
        @include mobile {
          justify-content: center;
          opacity: 0;
        }
        position: absolute;
        bottom: 10px;

        img {
          width: 30px;
          animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
}

// Menu

.menu {
  width: 400px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  &.active {
    right: 0;
  }

  ul {
    margin-top: 8rem;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 200;
    color: white;
    width: 60%;

    li {
      margin-bottom: 25px;
      a {
        font-size: 30px;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        color: yellowgreen;
      }
    }
  }
}

// LOGO IMAGE
.menu img {
  display: block;
  margin: 5rem auto;
}
.menu .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ANIMATION
.moving-image {
  position: relative;
  width: 200px; /* Adjust as needed */
  animation: moveRightToLeft 5s linear infinite;
}
@keyframes moveRightToLeft {
  0% {
    left: 100%; /* Start from the right */
  }
  100% {
    left: -100%; /* Move to the left */
  }
}
.container {
  overflow: hidden;
  width: 100%;
}

// "homepage"
.app {
  padding: 0;
  margin: 0;
  height: 100vh;
  flex-grow: 1;

  .sections {
    padding: 0;
    margin: 0;
    width: 100vw;
    min-height: calc(100vh - 70px);
    top: 70px;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      min-height: calc(100vh - 70px);
    }

    .portfolio {
      height: auto;
      padding-bottom: 30px;
    }

    @include mobile {
      top: 50px;
      > * {
        width: 100vw;
        min-height: calc(100vh - 70px);
      }
    }
  }
}

// SOCIAL MEDIA LINKS
.icon {
  padding: 10px;
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-facebook {
    background: #000000;
    color: white;
  }

  .fa-instagram {
    background: #000000;
    color: white;
  }

  .fa-twitter {
    background: #000000;
    color: white;
  }
  .fa-whatsapp {
    background: #000000;
    color: white;
  }
  .fa-envelope {
    background: #000000;
    color: white;
  }
}

// TOPBAR
.topbar {
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 70px;
  background-color: white;
  color: $mainColor;
  position: fixed;
  z-index: 1000;
  transition: all 0.5s ease;
  overflow: hidden;

  @include mobile {
    height: 50px;
  }
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;

        @include mobile {
          font-size: 20px;
          margin-right: 0px;
        }

        img {
          height: 1em;
          margin-right: 5px;

          @include mobile {
            height: 1.5em;
          }
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mobile {
          display: none;
        }
        .icon {
          font-size: 18px;
          margin-right: 5px;
        }

        span {
          font-size: 25px;
          font-weight: 400;
        }
      }

      span:hover {
        border-bottom: 1px solid black;
      }
    }

    button {
      overflow: hidden;
      width: 170px;
      height: 40px;
      color: white;
      padding: 20px;
      background-color: rgb(0, 0, 0);
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-weight: 500;
        color: white;
        text-decoration: none;
        font-size: 20px;
      }

      cursor: pointer;

      &:focus {
        outline: none;
      }

      @include mobile {
        display: none;
      }
    }

    button:hover {
      background-color: crimson;
    }

    .right {
      display: none;
      @include mobile {
        display: flex;
      }
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      scrollbar-width: none; //for firefox
      &::-webkit-scrollbar {
        display: none;
      }
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// Testimonials
.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    justify-content: space-around;
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include mobile {
      flex-direction: column;
      height: 100%;
    }

    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 0.5s ease;

      @include mobile {
        height: 180px;
        margin: 10px 0;
      }

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;

        @include mobile {
          width: 250px;
          height: 180px;
          margin: 10px;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          &.left,
          &.right {
            height: 100px;
          }
          &.user {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;

            @include mobile {
              width: 90px;
              height: 90px;
              border-radius: 10px;
            }
          }
        }
      }

      .center {
        padding: 10px;
        border-radius: 10px;
        background-color: rgb(250, 244, 245);
        overflow: hidden;
        @include mobile {
          font-size: 12px;
          padding: 5px;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        h3 {
          margin-bottom: 5px;
          overflow: hidden;
          @include mobile {
            font-size: 14px;
          }
        }
        h4 {
          color: rgb(121, 115, 115);
          @include mobile {
            font-size: 13px;
          }
        }
      }
    }
  }
}
