$mainColor: #000000;

$widthMobile: 900px;
$widthUW: 2000px;
@mixin mobile {
    @media (max-width: #{$widthMobile}) {
        @content
    }
}

@mixin ultrawide {
    @media (min-width: #{$widthUW}) {
        @content
    }
}